<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139879751-1"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/gtags.js"></script> -->

<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0f">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h4 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h4>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <div class="foot" align="center">
        {% if site.wordpress_username %}
          <a href="https://{{ site.wordpress_username }}.wordpress.com/">
            <i class="fa fa-wordpress"></i>
          </a>
        {% endif %}
      
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>       
        {% endif %}
            
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
        {% endif %}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

  <!-- a new tab for external URL  -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/new-tab.js"></script>
</body>
</html>